

<h1>Your orders:</h1>


<% @order.carted_products.each do |carted_product| %>
  <p>Item: <%= carted_product.item.name %> </p>
  <p>Price: <%= carted_product.item.price %>
  <p>Quantity: <%= carted_product.quantity %></p>
  <br>

<%end%>

  <br>
  <p>Subtotal: <%= @order.subtotal %></p>
  <p>Tax: <%= @order.tax %></p>
  <p>Total: <%= @order.total %></p>
  