<h1> BUY ME! </h1>

<% @items.each_slice(3) do |three_items| %>

  <div class="row">
   <% three_items.each do |item| %>
  <div class= "col-md-4">
    <div class="well">
   <a href="/items/<%= item.id %>" > <%= item.name %> </a>
      <br>
      <img src="<%= item.image %>" width: 200px>
      <br>
     <p> Price: </p> <%= item.price%>
      <br>
     <%=  item.description %>
     <br> 
     </div>
  </div>
    <br>
   <% end%>
   </div>
<% end %>
