<h1> Item Info: </h1>

<h2>
     <%= @item.name %>
      <%= @item.price%>
     <%=  @item.description %>
</h2>

<button class="btn btn-primary">  <a href="/items/<%=@item.id%>/edit"> Edit Item </a> </button>

<%= form_tag "/items/#{@item.id}", method: :delete do %>
<input type="submit" value="DELETE">

<%end%>