<h1> Item Info: </h1>

<h2>
     <%= @item.name %>
     <br>
     <%= @item.in_stock? %>
     <br>
    <h5> Price: <%= @item.price%> </h5>
      <br>
     <h5> Sales Tax: <%= @item.tax %> </h5>
      <br>
    <h2> <strong> Total: <%= @item.total %> </strong> </h2>
      <br>
     <% @item.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @item.name %>" class="img-responsive">
            <% end %>
     <br>
     <%=  @item.description %>
</h2>
<h5> Categories: <% @item.categories.each do |category| %>
                  <%= category.title %>
                  <% end %>
</h5>
<br>
<h4> Supplied by: </h4><%= @item.supplier.name %>
<p> <%= @item.sale_message %> </p>
<!-- Edit/Delete Buttons -->
  <% if current_user && current_user.admin %>
    <button class="btn btn-primary">  <a href="/items/<%=@item.id%>/edit"> Edit Item </a> </button>
    <%= form_tag "/items/#{@item.id}", method: :delete do %>
    <input type="submit" value="DELETE">
  <% end %>
<%end%>
<!-- -->
 <% if current_user %>
    <%= form_tag "/carted_products", method: :post do %>
  <div>
     Quantity: <input type="text" name= "quantity">
  </div>
   <div>
     Item ID: <input type="text" name= "item_id" value="<%= @item.id %>">
  </div>
     <p> <button type ="submit" class="btn btn-default btn-lg">Add to Cart!</button>
    </p>
  <% end %>

<%end%>